</div>
<footer>
    <div class="feet bg-purple-900 w-full">
        <h1 class="text-center text-blue-700 text-xl font-mono p-3">Made by Umar Hussain</h1>
    </div>
</footer>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="index.js"></script>
</body>
</html>