<%- include("partials/header"); -%>

<main>
    <div class="heading">
      <h1 class="text-3xl text-blue-700 m-5"><%= page %></h1>
    </div>
    <div class="para">
      <p class="ml-8 "><%= paragraph %></p>
    </div>
  </main>

  <%- include("partials/footer"); -%>